.containerCard {
    border: 5px solid rgb(219, 198, 10);
    width: 350px;
    height: 400px;
    margin: 50px;
    background-color: black;
}

.h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}